body {
background-color: black;
}
header{
    color: red;
    text-align: center;
    
    
}
img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 200px; 
    left: 400px;
    padding: 50px;
    
}
div {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 25%;
}
#rightSide {
    left: 500px;
    border-left: 1px solid red;

}


